body {
    background-color: #302e2ec6;
    font-family: 'Montserrat', sans-serif;
    color: rgb(9, 44, 33);
}

section {
    background-color: #cccac7;
}

.heading {
    font-style: italic;
}